.logo {
  display: block;
  max-width: 75vw;
  margin-bottom: 2em;
}

.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.buttonContainer {
  width: 70%;
  margin: 0 auto;
}

.button {
  margin: .5em auto;
  width: 100%;
}
