.logo {
  display: block;
  max-width: 75vw;
  margin-bottom: 2em;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.buttonContainer {
  width: 20em;
  margin: 0 auto;
}

.button {
  margin: .5em auto;
  width: 100%;
}

@media (min-width: 1280px) {
  .layout {
    flex-direction: column;
  }
}
