@import './reset.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

/* responsive breakpoints */
@value desktop: 1280px;
@value tablet: 960px;
@value colors './colors.css';
@value black, white, seafoam, green from colors;

:global(html) {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(body) {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

:global(main) {
  margin: 1em;
  padding-bottom: 5em;
  min-height: 100vh;
  max-width: 100vw;
}

:global(img) {
  max-width: 100%;
}

:global(h1) {
  font-size: 2em;
  font-weight: 700;
  margin: .5em auto;
}

:global(h2) {
  font-size: 1.6em;
  font-weight: 500;
  margin: .35em auto;
}

:global(p) {
  margin: .5em 0;
}
